<% include ('header') %>

<h1>What is your ZIP code?</h1>

<form class="pure-form">
    <fieldset>
        <input type="text" placeholder="123455" autofocus required>
        <input type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>

    <script src="ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../public/index.js"></script>
</form> 