<% include ('header') %>

<h1>What is your ZIP code?</h1>

<form class="pure-form">
    <fieldset>
        <input type="text" placeholder="123455" autofocus required>
        <input type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>

    <script src=""></script> // grab the ajax api thing from teams for this
</form> 